<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911893152521-s80ji2hg4jalul61jte71sikbu373qvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911893152521-s80ji2hg4jalul61jte71sikbu373qvb</string>
	<key>API_KEY</key>
	<string>AIzaSyCt-oNjk_M-84n0zTnsJPs9SE3OP26sFlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>911893152521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.nahid.Snapfun</string>
	<key>PROJECT_ID</key>
	<string>snapfun-e1cdf</string>
	<key>STORAGE_BUCKET</key>
	<string>snapfun-e1cdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911893152521:ios:40c456229744bc38</string>
	<key>DATABASE_URL</key>
	<string>https://snapfun-e1cdf.firebaseio.com</string>
</dict>
</plist>